// 1. Base
@import 'base/variables';
@import 'base/typography';
@import 'base/reset';

// 2. Components
@import 'components/footer';
@import 'components/buttons';
@import 'components/navbar';

// 3. Pages
@import 'pages/home';
@import 'pages/map';
@import 'pages/stats';
