* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-dark;
    color: $text-main;
    font-family: $font-body;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
