// Farben
$primary-color: #16a34a;
$primary-hover: #22c55e;
$bg-dark: #111827;
$bg-card: #1f2937;
$text-main: #ffffff;
$text-muted: #9ca3af;

// Fonts
$font-gaming: 'Press Start 2P', cursive;
$font-body: 'Inter', sans-serif;
